*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
   
    background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.counter-box{
    width: 70vw;
    margin: auto;
    margin-top: 2rem;
    gap: 1rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid white;
  padding: 2rem;
    color: white;  
}
h2{
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    border: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 00;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

